
:host {
  .button {
    border-radius: 12px;
    border-color: transparent;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: opacity 0.3s;
    min-height: 100%;
    &:hover{
      opacity: 0.9;
    }
    &:active{
      transform: translate(1px, 1px);
    }
  }
   .main{
     background-color: var(--button-main);
     color: var(--text-contrast);
   }

   .secondary{
     background-color: var(--button-secondary);
     color: var(--text-contrast);
   }

   .danger{
     background-color: var(--button-danger);
     color: var(--text-contrast);
   }
   .s{
    padding: 2px 4px;
   }
   .m{
    padding: 4px 8px;
   }
   .l{
    padding: 8px 16px;
   }
   .xl{
    padding: 16px 32px;
   }

  }

