/* You can add global styles to this file, and also import other style files */

:root {
  --button-main: rgb(35, 147, 211);
  --button-secondary: green;
  --button-danger: red;
  --text-main: #333333;
  --text-contrast: #ffffff;
}
